<div class="page-wrapper">
  <div class="card-wrapper">
   <a href=""> <div class="card">

      <!--photo of team member-->
      <div class="card-image">
        <img src='https://images.unsplash.com/photo-1503430935654-c3847b9289eb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=32fc050e89e062d0cd4fe4130e5c5a8b' alt='team member'>
      </div>

      <div class="card-slant">

      </div>

      <div class="card-name">
        <h1>Bob Smith</h1>
      </div>

      <div class="card-title">
        <h1>Animater</h1>
      </div>

      <div class="card-socail">
        <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      </div>

    </div>
  </div>
</div>

  </a>
<div class="test">

</div>
