<div class="card-wrapper">
 <a href=""> <div class="card">

    <!--photo of team member-->
    <div class="card-image">
      <img src='https://images.unsplash.com/photo-1503430935654-c3847b9289eb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=32fc050e89e062d0cd4fe4130e5c5a8b' alt='team member'>
    </div>

     <h1><span>Lastest Post</span></h1>

     <p><span class="cardBlerb">This is our latest post, it is a post about our animation. and further more how we are making it.</span></p>

      <div class="btn-wrapper">
       <div class="btn">View More</div>
      </div>

  </div>
 </a>
</div>
